body,
h1,
h2,
ul,
li,
p,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
  
ul {
    list-style: none;
}

body {
    background: #231f20;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
}

h1 {
    color: #FEFEFE;
    margin: 60px 0 40px 0;
    text-align: left;
    max-width: 500px;
    font-size: 3rem;
}

.search-bar {
    display: flex;
    max-width: 700px;
    align-content: space-between;
    margin-bottom: 40px
}

.search-bar input {
    flex: 1 1 450px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px 25px;
    font-size: 1.125rem;
    height: 25px;
    border: none;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    flex: 1 1 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 55px;
    border: none;
    background: #5DD9C1;
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    transition: .2s;
}

.search-bar button:hover {
    transform: scale(1.1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-bar button img {
    height: 40px;
    width: 40px;
}

.search-bar button img {
    margin: 0 auto;
}

.list li{
    display: flex;
    margin: 20px auto 10px auto;
    border-radius: 5px;
    background: rgba(111, 110, 110, 0.9);
    padding: 25px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    position: relative;
}

.list img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.list .repository {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-around;
}

.list .repository a {
    color: #fff;
    font-size: 1.125rem;
    width: 300px;
}

.list .repository a:hover {
    color: rgba(222, 222, 222, 0.95);
}

.list .repository p {
    font-size: 0.875rem;
    color: #ACFCD9;
    max-width: 400px;
}

.list .arrow-right img {
    position: absolute;
    top:40px;
    right: 30px;
    padding: 10px;
    height: 20px;
    width: 20px;
    transition: .5s;
}

.list .arrow-right img:hover {
    transform: scale(1.8)
}

.error-message {
    margin-top: 100px;
    color: #A0A0A0;
    font-size: 3rem;
    text-align: center;
    font-style: italic;
}

