body,
h1,
h2,
ul,
li,
p,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
  
ul {
    list-style: none;
}

body {
    background: #231f20;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    padding: 10px 10px;
}

h1 {
    color: #FEFEFE;
    margin: 60px 0 40px 0;
    text-align: left;
    max-width: 500px;
    font-size: 3rem;
}

.search-bar {
    display: flex;
    max-width: 700px;
    align-content: space-between;
    margin-bottom: 40px
}

.search-bar input {
    flex: 1 1 450px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px 25px;
    font-size: 1.125rem;
    height: 25px;
    border: none;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    flex: 1 1 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 55px;
    border: none;
    background: #5DD9C1;
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    transition: .2s;
}

.search-bar button:hover {
    transform: scale(1.1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-bar button img {
    height: 40px;
    width: 40px;
}

.search-bar button img {
    margin: 0 auto;
}

.list li{
    display: flex;
    margin: 20px auto 10px auto;
    border-radius: 5px;
    background: rgba(111, 110, 110, 0.9);
    padding: 25px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    position: relative;
}

.list li .profile-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-self: center;
}

.list .repository {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-around;
}

.list .repository a {
    color: #fff;
    font-size: 1.125rem;
    width: 300px;
}

.list .repository a:hover {
    color: rgba(222, 222, 222, 0.95);
}

.list .repository p {
    font-size: 0.875rem;
    color: #ACFCD9;
    max-width: 350px;
}

.list .arrow-right img {
    position: absolute;
    top: calc(50% - 20px);
    right: 30px;
    padding: 10px;
    height: 20px;
    width: 20px;
    transition: .3s;
}

.list .arrow-right img:hover {
    transform: scale(1.8)
}

.error-message {
    margin-top: 100px;
    color: #A0A0A0;
    font-size: 3rem;
    text-align: center;
    font-style: italic;
}

.loader {
    margin: 20px auto 10px auto;
    width: 250px;
    height: 250px;
    background: url('../img/loader.png') center no-repeat;
    background-size: 200px;
    animation: spin 1.2s linear infinite ;
}

@keyframes spin{
    0% { background-size: 200px;}
    50% { background-size: 220px;}
    100% { background-size: 200px;}
}

.loader-text {
    font-size: 2rem;
    text-align: center;
    color: #A0A0A0;
}

@media (min-width: 440px) and (max-width: 600px) {
    .search-bar input {
        flex: 1 1 300px;
    }
    .search-bar button {
        flex: 1 1 50px;
    }
    .list li {
        padding: 15px;
    }
    .list li .profile-photo {
        width: 50px;
        height: 50px;
    }
    .list .repository a {
        width: 200px;
    }
    .list .repository p {
        max-width: 250px;
    }
    .list .arrow-right img {
        right: 10px;
    }
}

@media (min-width: 360px) and (max-width: 440px) {
    .search-bar input {
        flex: 1 1 150px;
    }
    .search-bar button {
        flex: 1 1 50px;
    }
    .list li {
        padding: 10px;
    }
    .list li .profile-photo{
        display: none;
    }
    .list .repository {
        margin-left: 0;
    }
    .list .repository a {
        max-width: 200px;
    }
    .list .repository p {
        max-width: 200px;
    }
    .list .arrow-right img {
        right: 0;
    }
}

@media (max-width: 360px) {
    .container h1 {
        font-size: 2rem;
    }
    .search-bar {
        flex-wrap: wrap;
    }
    .search-bar input {
        font-size: 0.875rem;
        flex-basis: 100px;
        padding: 10px;
    }
    .search-bar button {
        height: 45px;
    }
    .search-bar button img {
        width: 20px;
        height: 20px;
    }
    .search-bar input {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px
    }
    .search-bar button {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .list li {
        padding: 10px;
        flex-wrap: wrap;
    }
    .list li .profile-photo{
        display: none;
    }
    .list .repository {
        margin-left: 0;
    }
    .list .repository a {
        max-width: 200px;
        font-size: 0.875rem;
    }
    .list .repository p {
        max-width: 200px;
        font-size: 0.75rem;
    }
    .list .arrow-right img {
        display: none;
    }
}


